.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.d-button-outline {
  padding: 8px 34px;
  border-style: solid;
  border-width: 1px;
  border-color: #7c8094;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 0 7px -6px rgba(124, 128, 148, 0.62);
}

.d-nav-link {
  margin-right: 30px;
  color: #fff;
  line-height: 16px;
  text-decoration: none;
}

.d-nav-link.w--current {
  color: #fff;
}

.left-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-bar-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  min-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 282px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image {
  margin-top: -175px;
  padding-top: 0px;
}

.image-2 {
  margin-left: -100px;
}

.nav-bar-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 7px -6px rgba(124, 128, 148, 0.62);
}

.d-nav-link-2 {
  margin-right: 30px;
  color: #333;
  line-height: 16px;
  text-decoration: none;
}

.d-nav-link-2.text-center {
  margin-right: 0px;
  padding-right: 16px;
  padding-left: 16px;
}

.navigation-left-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.trust-shield {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  margin-top: -4px;
  padding-right: 58px;
  padding-left: 0px;
  color: #fff;
  font-size: 42px;
  line-height: 47px;
  font-weight: 700;
  text-align: left;
}

.heading-3.display-1 {
  padding-right: 20px;
  color: #111747;
  line-height: 54px;
  font-weight: 700;
  text-align: left;
}

.image-49 {
  text-align: right;
}

.column-12 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
}

.paragraph {
  padding-right: 173px;
  padding-left: 173px;
  color: #333;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}

.paragraph.bezopara {
  padding-right: 99px;
  padding-left: 99px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.paragraph.bezopara.bezopara-left {
  padding-right: 20px;
  padding-left: 0px;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.paragraph.bezopara.bezopara-left.extra-padding {
  padding-right: 60px;
}

.paragraph.bezopara.bezopara-left.more-spinch {
  margin-bottom: 5px;
  color: #111747;
  font-weight: 500;
}

.paragraph.bezopara.bezopara-left.text-center {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #fff;
  text-align: center;
}

.paragraph.bezopara.bezopara-left.text-center.small {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 14px;
  font-weight: 400;
}

.main-header-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-container {
  padding-top: 109px;
  padding-bottom: 109px;
  background-image: url('../images/HEADER-IMAGE.jpg');
  background-position: 50% 50%;
  background-size: cover;
  font-weight: 900;
}

.d-container.bezoheader {
  display: block;
  margin: 0px auto 38px;
  padding: 94px 160px 73px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f8f8fa;
  background-image: none;
}

.partner-images {
  padding-right: 35px;
}

.d-main-buttom {
  padding: 12px 51px;
  border-radius: 5px;
  background-color: #338a46;
  font-weight: 400;
}

.d-main-buttom.green {
  background-color: #06818e;
}

.d-main-buttom.green.center-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 105px;
  padding-left: 105px;
  background-color: #ffc641;
  color: #111747;
  text-align: center;
}

.partners {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shield-logo {
  padding-right: 19px;
}

.spacing-20 {
  height: 20px;
}

.div-block-128 {
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(124, 128, 148, 0.31);
  text-align: center;
}

.image-48 {
  width: 569px;
  max-width: 150%;
}

.image-48.main-image {
  max-width: 100%;
}

.d-section {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 58px 0px;
}

.d-section.alt {
  padding-top: 0px;
  padding-bottom: 0px;
}

.text-block-5 {
  color: #06818e;
  font-size: 16px;
  font-weight: 500;
}

.features-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.extra-padding {
  padding-right: 40px;
}

.ft-col {
  padding-right: 40px;
}

.item-desc {
  color: #333;
}

.item-desc.copyright {
  color: #7c8094;
}

.spacing-10 {
  height: 10px;
}

.image-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.display-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  color: #111747;
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
}

.cta-section {
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: #111747;
}

.text-center {
  padding-right: 252px;
  padding-left: 252px;
}

.copyrights {
  margin-bottom: 16px;
  padding-top: 25px;
  font-size: 12px;
}

.container {
  background-color: transparent;
}

.div-block-129 {
  padding-top: 30px;
}

.listings {
  position: static;
  width: auto;
  margin-top: 0px;
  padding: 10px;
}

.heading-4 {
  position: static;
  left: 15px;
  top: -63px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -140px 0px 0px 154px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  font-size: 16px;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-6 {
  position: static;
  left: 150px;
  top: -117px;
  overflow: hidden;
  max-width: 140px;
  margin-left: 154px;
}

.div-block-131 {
  margin-top: 200px;
  padding-top: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.search-input {
  display: block;
  width: 325px;
  margin-top: 0px;
}

.dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.form-block {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  float: none;
  clear: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.maxprice {
  width: 110px;
}

.beds {
  width: 100px;
}

.baths {
  width: 100px;
}

.rent {
  padding-top: 10px;
  padding-right: 10px;
}

.sublease {
  padding-top: 10px;
  padding-right: 10px;
}

.minprice {
  width: 110px;
}

.pets {
  width: 125px;
  padding-top: 10px;
  padding-left: 30px;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 325px;
  margin-bottom: 0px;
  padding: 0px;
}

.radio-button-label {
  margin-top: 0px;
  padding-top: 0px;
}

.text-block-7 {
  width: 200px;
  margin-top: 0px;
  margin-left: 154px;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-8 {
  margin-left: 154px;
}

.text-block-9 {
  margin-left: 154px;
}

.image-50 {
  display: block;
  width: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.div-block-132 {
  height: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-block-133 {
  margin-left: auto;
}

.search-button {
  display: inline-block;
  height: 38px;
}

.listing {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 440px;
  min-height: 180px;
  margin-bottom: 25px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 3px solid #000;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-3 {
  max-width: 440px;
}

.body {
  display: block;
  background-color: #fff;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eaffe9;
}

.section-2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area-4 ."
    ". ."
    "Area Area-2";
  -ms-grid-columns: 1.25fr 16px 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: 1.5fr 16px auto;
  grid-template-rows: 1.5fr auto;
  border: 3px solid #000;
  background-color: #eaffe9;
}

.map {
  position: static;
  top: 20px;
  z-index: 800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1080px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-3 {
  display: -ms-grid;
  display: grid;
  height: 500px;
  padding: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-10 {
  margin-bottom: 20px;
  padding: 0px;
  font-size: 40px;
  text-align: center;
}

.paragraph-2 {
  display: block;
  padding-right: 220px;
  padding-left: 220px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.form-block-2 {
  display: block;
  padding-right: 60px;
  padding-left: 60px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-4 {
  padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 60px;
}

.field-label {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-field {
  overflow: auto;
  margin-bottom: 30px;
  background-color: #eeeded;
}

.textarea {
  background-color: #ece9e9;
}

.submit-button {
  width: 100%;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-5 {
  display: -ms-grid;
  display: grid;
  padding-right: 60px;
  padding-left: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid.contact-details {
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 60px;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 13px;
  grid-row-gap: 30px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
}

.location-field {
  color: #9c8c8c;
  text-transform: uppercase;
}

.paragraph-3 {
  display: inline;
}

.paragraph-4 {
  padding-left: 220px;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading-7 {
  position: static;
  text-align: center;
}

.button {
  position: static;
  left: 200px;
  right: -200px;
  float: left;
  clear: none;
  background-color: #126925;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.button-2 {
  float: right;
  background-color: #126925;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.button-3 {
  width: 100%;
  background-color: #126925;
  color: #fffefe;
  text-align: center;
}

.button-4 {
  width: 100%;
  background-color: #126925;
  text-align: center;
}

.button-5 {
  width: 100%;
  background-color: #126925;
  text-align: center;
  letter-spacing: normal;
  white-space: normal;
}

.text-block-12 {
  font-size: 18px;
  text-align: center;
}

.div-block-134 {
  border-radius: 0px;
  white-space: normal;
  background-clip: border-box;
}

.list-item {
  margin-top: 25px;
  margin-bottom: 25px;
}

.list-item-2 {
  margin-bottom: 25px;
}

.list-item-3 {
  margin-bottom: 25px;
}

.list {
  border: 1px solid #000;
  border-radius: 0px;
}

.bold-text {
  clear: none;
  text-align: center;
}

.image-51 {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  border: 5px solid #000;
  border-radius: 0px;
}

.columns {
  display: block;
  padding-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #eaffe9;
}

.div-block-135 {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-136 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-137 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sign-up-wrap {
  position: static;
  display: block;
  width: 432px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 52px;
  padding-right: 35px;
  padding-left: 35px;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 15px;
  background-color: #055000;
  text-align: center;
}

.form {
  margin-top: 40px;
  margin-bottom: 20px;
}

.text_field {
  padding-top: 25px;
  padding-bottom: 25px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 hsla(0, 0%, 100%, 0.2);
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 22px;
  text-align: center;
}

.submit-button-2 {
  min-width: 234px;
  margin-top: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: all 325ms cubic-bezier(.215, .61, .355, 1);
  transition: all 325ms cubic-bezier(.215, .61, .355, 1);
  color: #000;
  font-size: 22px;
  line-height: 22px;
}

.submit-button-2:hover {
  background-color: hsla(0, 0%, 100%, 0.7);
}

.paragraph-5 {
  margin-bottom: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 23px;
}

.link {
  color: hsla(0, 0%, 100%, 0.69);
}

.sign-up {
  margin-top: 40px;
  margin-right: -35px;
  margin-left: -35px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.34);
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/03_JHID_NWHillsHouse.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-52 {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.form-2 {
  overflow: auto;
}

.grid-2 {
  grid-row-gap: 0px;
  grid-template-areas: "."
    "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3 {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-4 {
  grid-row-gap: 7px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: minmax(0px, 2.25fr) minmax(auto, 0.5fr);
  grid-template-rows: minmax(0px, 2.25fr) minmax(auto, 0.5fr);
}

.text-block-13 {
  font-size: 20px;
}

.text-block-14 {
  text-align: center;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.submit-button-1 {
  width: 100%;
}

.html-embed {
  margin-right: 0px;
  margin-left: auto;
  padding-right: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.column-14 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .heading-3 {
    font-size: 38px;
  }

  .main-header-col {
    display: block;
  }

  .display-2 {
    margin-left: 50px;
  }

  .text-block-12 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .heading-3 {
    padding-right: 44px;
    padding-left: 44px;
    font-size: 32px;
    line-height: 33px;
    font-weight: 700;
  }

  .paragraph {
    padding-right: 52px;
    padding-left: 52px;
  }

  .contact-form {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .heading-3 {
    padding-right: 18px;
    padding-left: 18px;
    font-size: 28px;
  }

  .heading-3.display-1 {
    padding-right: 27px;
    line-height: 38px;
  }

  .paragraph {
    padding-right: 29px;
    padding-left: 29px;
    font-size: 16px;
  }

  .paragraph.bezopara {
    padding-right: 41px;
    padding-left: 41px;
  }

  .d-container.bezoheader {
    margin-right: 14px;
    margin-left: 14px;
  }

  .text-block-7 {
    margin-left: 150px;
  }
}

#w-node-aa3d72f467bd-13fb1783 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

